<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row ">
                    <div class="col-md-6 col-12 main_header_right  align-items-center">
                        <figure>
                            <img src="image/2961578.jpg" alt="" class="img-fluid" tittle="Rishabh Srivastava">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather application</p>
                        <h3>Tech(CSE) at <span class="text-clr">United College Of Engineering and Research, Allahabad,PrayagRaj,India. </span> Also willing to work as a team member as well as alone to get things done on time with perfection.
                        A career-oriented person who is highly focused and self motivated and has enthausiasm to learn.</h3>
                        <!-- <a href=""> <button>About Me</button> </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>